@model Portfolio.Shared.Models.Experience
@{
    var startDate = @Model.StartDate.ToString("MMMM yyyy");
    var endDate = @Model.EndDate.ToString("MMMM yyyy");
}

<div class="cursor-pointer flex flex-col m-6 box-border w-[23rem] from-secondary to-primary bg-gradient-to-t rounded-2xl" style="">
    <div class="rounded-3xl">
        <div class="img rounded-t-2xl p-6">
            <img class="mx-auto invert" width="150rem" height="auto" src="@Url.Content("~/images/" + @Model.ImageUrl)" alt="@Model.ImageDescription" />            
        </div>
        
        <div class="bg-gray-100 bg-opacity-50 py-4 px-6 flex flex-col">
            <div class="texts" style="">
                <h2 class="h2 text-xl font-bold">@Model.Title</h2>
                <div class="flex flex-row place-content-between">
                    <p class="p font-light text-left"><a href="@Model.Url">@Model.Place</a></p>
                    <p class="p font-light text-right">@Model.Location</p>
                </div>
                <span class="date text-gray-700 text-xs">@startDate to @endDate</span>
            </div>

            <div class="description flex-1 min-h-[10rem]" style="">
                @Model.Description
            </div>
            
            <div class="bullets" style="">
                @foreach (var bullet in Model.BulletPoints) {
                    <div class="bullet hidden">
                        <p class="p text-gray-700 text-sm font-light">@bullet</p>
                    </div>
                    }
            </div>
        </div>

        <div class="tags text-center flex">
            @foreach (var tag in Model.Tags)
            {
                string className = "tag py-3 block flex-1 text-sm font-bold border-secondary-200 text-white border-l-2";
                if (Model.Tags.First()==tag)
                {
                    className = className.Remove(className.Length - "border-l-2".Length);
                }
                <span class="@className">@tag</span>
            }
        </div>
    </div>
</div>
